@{
    ViewBag.Title = "Home Page Admin";
}

<h2 class="text-info">Benvenuto/a nella sezione Admin!</h2>

<h3>Scegli l'operazione da eseguire:</h3>

<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inserisci nuova spedizione</h5>
                @Html.ActionLink("Inserisci", "NuovaSpedizione", "Spedizioni", null, new { @class = "btn btn-success my-2" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inserisci nuovo cliente</h5>
                @Html.ActionLink("Inserisci", "NuovoCliente", "Clienti", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
</div>