@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-info">Delivery Geek</h1>
        <p class="lead">Benvenut*! Da qui potrai eseguire alcune operazioni:</p>
</section>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Stato della spedizione</h3>
                    <p class="card-text">
                        Clicca sul bottone sottostante per verificare ogni cambiamento di stato della tua spedizione, dalla partenza fino alla consegna!
                    </p>

                    <a href="@Url.Action("VisualizzaStato", "Spedizioni")" class="btn btn-info">Visualizza Stato Spedizione</a>
                </div>
            </div>
        </div>
    </div>

</main>